---
http_interactions:
- request:
    method: get
    uri: http://api.geocod.io/v1.1/geocode?api_key=723d41115152d224fd74727df34727c444537f7&fields=cd&q=44646
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Request-Handler:
      - api4
    body:
      encoding: UTF-8
      string: '{"input":{"address_components":{"zip":"44646","country":"US"},"formatted_address":"44646"},"results":[{"address_components":{"city":"Massillon","county":"Stark
        County","state":"OH","zip":"44646","country":"US"},"formatted_address":"Massillon,
        OH 44646","location":{"lat":40.814381,"lng":-81.497182},"accuracy":1,"accuracy_type":"place","source":"TIGER\/Line\u00ae
        dataset from the US Census Bureau","fields":{"congressional_districts":[{"name":"Congressional
        District 7","district_number":7,"congress_number":"115th","congress_years":"2017-2019","proportion":0.622,"current_legislator":{"bio":{"last_name":"Gibbs","first_name":"Bob","birthday":"1954-06-14","gender":"M","party":"Republican"},"contact":{"url":"https:\/\/gibbs.house.gov","address":"2446
        Rayburn HOB; Washington DC 20515-3507","phone":"202-225-6265","contact_form":null},"social":{"rss_url":"http:\/\/gibbs.house.gov\/rss.xml","twitter":"RepBobGibbs","facebook":"RepBobGibbs","youtube":"RepBobGibbs","youtube_id":"UC4J-kVbeE32Up-b_wTLEUmA"},"references":{"bioguide_id":"G000563","thomas_id":"02049","opensecrets_id":"N00031128","lis_id":null,"cspan_id":"1033844","govtrack_id":"412463","votesmart_id":"45466","ballotpedia_id":"Bob
        Gibbs","washington_post_id":null,"icpsr_id":"21165","wikipedia_id":"Bob Gibbs"},"source":"Data
        collected and aggregated by https:\/\/github.com\/unitedstates\/"}},{"name":"Congressional
        District 16","district_number":16,"congress_number":"115th","congress_years":"2017-2019","proportion":0.376,"current_legislator":{"bio":{"last_name":"Renacci","first_name":"James","birthday":"1958-12-03","gender":"M","party":"Republican"},"contact":{"url":"https:\/\/renacci.house.gov","address":"328
        Cannon HOB; Washington DC 20515-3516","phone":"202-225-3[...]
